body {
    position: relative;
    background: #111111;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; width: 100vw;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dots-1,.dots-2,.dots-3,.dots-4,.dots-5,.dots-6 {
    margin: 6em
}

/* ---------- LOADER 1 (TOP LEFT) ---------- */

.dots-1 {
    width: 56px;
    height: 13.4px;
    background: radial-gradient(circle closest-side,#e01751 90%,transparent) 0 0/33% 100% space;
    clip-path: inset(0 100% 0 0);
    animation: dots-1 1.5s steps(4) infinite;
 }
 
 @keyframes dots-1 {
    100% {
       clip-path: inset(0 -34% 0 0);
    }
 }


 /* ---------- LOADER 2 (TOP MIDDLE) ---------- */

 .dots-2 {
    width: 56px;
    height: 26.9px;
    background: radial-gradient(circle closest-side,#e01751 90%,transparent) 0% 50%,
                radial-gradient(circle closest-side,#e01751 90%,transparent) 50% 50%,
                radial-gradient(circle closest-side,#e01751 90%,transparent) 100% 50%;
    background-size: calc(100%/3) 13.4px;
    background-repeat: no-repeat;
    animation: dots-2 1s infinite linear;
}

@keyframes dots-2 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%;
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%;
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%;
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%;
    }
}


/* ---------- LOADER 3 (TOP RIGHT) ---------- */

.dots-3 {
    width: 56px;
    height: 13.4px;
    background: radial-gradient(circle closest-side at left 6.7px top 50%,#e01751 90%,transparent),
                radial-gradient(circle closest-side, #e01751 90%,transparent),
                radial-gradient(circle closest-side at right 6.7px top 50%,#e01751 90%,transparent);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: dots-3 1s infinite alternate;
}

@keyframes dots-3 {
    100% {
        width: 22.4px;
        height: 26.9px;
    }
}


/* ---------- LOADER 4 (BOTTOM LEFT) ---------- */

.dots-4 {
    width: 13.4px;
    height: 13.4px;
    background: #e01751;
    color: #e01751;
    border-radius: 50%;
    box-shadow: 13.4px 0,-26.9px 0;
    animation: dots-4 0.5s infinite linear alternate;
}

@keyframes dots-4 {
    50% {
        box-shadow: 13.4px 0,-13.4px 0;
    }

    100% {
        box-shadow: 26.9px 0,-13.4px 0;
    }
}


/* ---------- LOADER 5 (BOTTOM MIDDLE) ---------- */

.dots-5 {
    width: 35.8px;
    height: 35.8px;
    --c: radial-gradient(circle closest-side,#e01751 90%,transparent);
    background: var(--c) 0 0,
                var(--c) 0 100%,
                var(--c) 100% 100%;
    background-size: 13.4px 13.4px;
    background-repeat: no-repeat;
    animation: dots-5 1s infinite linear;
}

@keyframes dots-5 {
    25% {
        background-position: 100% 0, 0 100%, 100% 100%;
    }

    50% {
        background-position: 100% 0, 0 0, 100% 100%;
    }

    75% {
        background-position: 100% 0, 0 0, 0 100%;
    }

    100% {
        background-position: 100% 100%, 0 0, 0 100%;
    }
}


/* ---------- LOADER 6 (BOTTOM RIGHT) ---------- */

.dots-6 {
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    color: #e01751;
    box-shadow: 21.3px 0 0 7.8px, 42.6px 0 0 3.4px, 63.900000000000006px 0 0 0;
    transform: translateX(-42.6px);
    animation: dots-6 0.5s infinite alternate linear;
 }
 
 @keyframes dots-6 {
    50% {
       box-shadow: 21.3px 0 0 3.4px, 42.6px 0 0 7.8px, 63.900000000000006px 0 0 3.4px;
    }
 
    100% {
       box-shadow: 21.3px 0 0 0, 42.6px 0 0 3.4px, 63.900000000000006px 0 0 7.8px;
    }
 }